POSTGRES_URL=postgres://flashflow:flashflow@localhost:5432/flashflow
KAFKA_BROKERS=localhost:9092
ORDER_API_PORT=3000
OUTBOX_CLIENT_ID=flashflow-outbox-publisher
OUTBOX_POLL_INTERVAL_MS=1000
OUTBOX_BATCH_SIZE=50
